{
    debug
    default_sni default_sni
}

localhost:{$PUBLIC_ACCESS_PORT} {
    tls internal
    reverse_proxy fastapi-wrapper:5000
}

:{$PUBLIC_ACCESS_PORT} {
    tls internal
    reverse_proxy fastapi-wrapper:5000
}

default_sni {
    tls internal
}