services:
  llm-container:
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
      - ./models:/models
      - ./gemma-it.jinja:/gemma-it.jinja
    networks:
      - llm-network
    ipc: host
    image: alpindale/aphrodite-openai:latest
    command: --model /models/gemma-2-2b-it
  caddy:
    image: caddy:latest
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    ports:
      - 443:443
    networks:
      - llm-network
    depends_on:
      - llm-container

networks:
  llm-network:
    driver: bridge
